@using Microsoft.AspNetCore.Identity
@using TecReview.Models

@inject SignInManager<ApplicationUser> SignInManager

@model Tuple<IEnumerable<Item>, IEnumerable<Comment>>
@{
    ViewData["Title"] = "Statistics";
}

<h2>@ViewBag.Title</h2>

<ul id="search-tabs" class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="#items" role="tab" data-toggle="tab" onclick="update_searched_results('items')">items</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#comments" role="tab" data-toggle="tab" onclick="update_searched_results('comments')">comments</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="items">
        <br />
        <div class="row">
            <div class="col-sm">
                <select id="cat-input" name="CategoryId" class="form-control">
                    <option value="">All</option>
                    @foreach (var item in ViewBag.Categories)
                    {
                        <option value="@item.CategoryId">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-sm">
                <input id="title-input" type="text" class="form-control" placeholder="Item name" />
            </div>
            <div class="col-sm">
                <input id="summary-input" type="text" class="form-control" placeholder="Item Summary" />
            </div>
            <div class="col-sm">
                <input id="items-date-input" type="date" class="form-control" />
            </div>
            <input type="button" value="Search" class="btn btn-primary" onclick="update_searched_results('items');" />
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="comments">
        <br />
        <div class="row">
            <div class="col-sm">
                <input id="author-input" type="text" class="form-control" placeholder="Author" />
            </div>
            <div class="col-sm">
                <input id="content-input" type="text" class="form-control" placeholder="Content" />
            </div>
            <div class="col-sm">
                <input id="comments-date-input" type="date" class="form-control" />
            </div>
            <input type="button" value="Search" class="btn btn-primary" onclick="update_searched_results('comments');" />
        </div>
    </div>

    <br />
    <div id="searched-results"></div>
</div>

@section Scripts
    {

    <script id="searchedItemsTmpl" type="text/x-jQuery-tmpl">
        <a href="Items/Details/${itemId}">${header}</a>
        <br />
    </script>

    <script id="searchedCommentsTmpl" type="text/x-jQuery-tmpl">
        <div class="media mb-1 border-bottom">
            <div class="media-left">
                <h2>${sequence}.</h2>
            </div>
            <div class="media-body">
                <small>${author}</small>
                <p>${content}</p>
            </div>

            <a class="btn btn-success" href="/Items/Details/${itemId}">Go</a>

        </div>
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Show items by default
            $('#search-tabs a[href="#items"]').tab('show');
            update_searched_results('items');
        });

        var update_searched_results = function (type) {
            $("#searched-results").html("");
            if (type == 'items') {
                get_searched_items(
                    $('#cat-input').val(),
                    $('#title-input').val(),
                    $('#summary-input').val(),
                    $('#items-date-input').val()
                ).then(function (items) {
                    $("#searched-results").html("");
                    items.forEach(item => {
                        $("#searchedItemsTmpl").tmpl(header=item, itemId=item.itemId).appendTo("#searched-results");
                    })
                })
            }
            else if (type == 'comments') {
                get_searched_comments(
                    $('#author-input').val(),
                    $('#content-input').val(),
                    $('#comments-date-input').val()
                ).then(function (comments) {
                    $("#searched-results").html("");
                    comments.forEach(comment => {
                        $("#searchedCommentsTmpl").tmpl(comment).appendTo("#searched-results");
                    })
                })
            }
        }

    </script>
}