@model TecReview.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<br />
<h3>Delete Category</h3>
<br />

<div class="alert-danger">
    <h3>Are you sure you want to delete this "@Model.Name" category?</h3>
    <strong class="text-danger">Deleting this category will also delete every item in that category</strong>
    <br />
    <strong>If you choose to delete, you cannot restore that category</strong>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
