@using Microsoft.AspNetCore.Identity
@using TecReview.Models

@model TecReview.Models.Category
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h2 class="pb-3 mb-4 font-italic border-bottom" style="color: @Model.HexColor !important;"> @Model.Name </h2>

<div>
    <h4 class="text-dark">@Model.Description</h4>
    <hr />
    <h6>Existing Items in Category:</h6>
    <br />

    <div class="row">
        @foreach (Item item in (List<Item>)ViewData["Items"])
        {
            <div class="col-md-3">
                <partial name="_ItemVertical" model="item" />
            </div>
        }
    </div>
</div>
